<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Làm thẻ thư viện</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2> Làm thẻ thư viện </h2>
            <br><br>
            <form action="/create-library-card" method="post">
                <input type="text" id="" class="fadeIn second" name="" placeholder="họ và tên" required>
                <input type="text" id="" class="fadeIn second" name="" placeholder="giới tính" required>
                <input type="tel" id="" class="fadeIn second" name="" placeholder="số điện thoại" required>
                <input type="text" id="" class="fadeIn third" name="" placeholder="địa chỉ" required>

                <input type="submit" class="fadeIn fourth pointer" value="Tạo thẻ">
            </form>
        </div>
    </div>

</body>

</html>