<!--todo: fragment chính -->
<div class="container my-4" th:fragment="sua-the-thu-vien">
    <strong style="color: #28a745"><i class="fas fa-book"></i> Sửa thẻ thư viện</strong>
    <hr />
    <form th:action="@{/edit-card}" th:object="${card}" method="post" class="was-validated">
        <div class="row jumbotron py-4">
            <div class="col-sm-6">
                <input type="hidden" th:field="*{mathe}">
                <div class="form-group">
                    <label for="">Họ tên:</label>
                    <input type="text" class="form-control" placeholder="nhập họ tên" maxlength="100" th:field="*{hoten}" required />
                </div>
                <div class="form-group">
                    <label for="">Giới tính:</label>
                    <select class="custom-select" th:field="*{gioitinh}">
                        <option selected value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Số điện thoại:</label>
                    <input type="text" class="form-control" placeholder="nhập số điện thoại" minlength="10" maxlength="11" th:field="*{sodienthoai}" required />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Địa chỉ:</label>
                    <input type="text" class="form-control" placeholder="nhập quận/huyện" th:field="*{diachi}" required />
                </div>
                <div class="form-group">
                    <label for="">Hạn sử dụng:</label>
                    <input type="date" class="form-control" required th:field="*{hansudung}" />
                </div>
                <div class="form-group">
                    <label for="">Trạng thái:</label>
                    <select class="custom-select" th:field="*{matrangthai}">
                        <option th:each="status : ${listStatus}" th:value="${status.getMatrangthai()}" th:text="${status.getTentrangthai()}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-hand-point-right"></i> Cập nhật
                </button>
                <a href="/quan-ly-the-thu-vien/tat-ca-the" type="button" class="btn
                    btn-danger"><i class="fas fa-times"></i> Hủy</a>
            </div>
        </div>
    </form>
</div>

<!-- todo: sdt đã được sử dụng -->
<div th:fragment="sdt-da-su-dung">
    <div class="alert alert-danger alert-dismissible fade show my-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Số điện thoại đã được sử dụng!</strong>
        <hr>
        <span>Vui lòng nhập số điện thoại khác!</span>
    </div>
    <div th:replace="edit-card :: sua-the-thu-vien"></div>
</div>