<div class="container my-4" th:fragment="sua-the-thu-vien">
    <strong style="color: #28a745;"><i class="fas fa-book"></i> Sửa thẻ thư viện</strong>
    <hr>
    <form th:action="@{/edit-card}" th:object="${card}" method="post" class="was-validated">
        <div class="row jumbotron py-4">
            <div class="col-sm-6">
                <input type="hidden" name="mathe" th:value="${oldCard.getMathe()}">
                <div class="form-group">
                    <label for="">Họ tên:</label>
                    <input type="text" class="form-control" name="hoten" th:value="${oldCard.getHoten()}" placeholder="nhập họ tên" required/>
                </div>
                <div class="form-group">
                    <label for="">Giới tính:</label>
                    <select name="gioitinh" class="custom-select">
                        <option selected th:value="${oldCard.getGioitinh()}" th:text="${oldCard.getGioitinh()}"></option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Số điện thoại:</label>
                    <input type="text" class="form-control" placeholder="nhập số điện thoại" name="sodienthoai" th:value="${oldCard.getSodienthoai()}" required/>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Địa chỉ:</label>
                    <input type="text" class="form-control" name="diachi" placeholder="nhập quận/huyện" th:value="${oldCard.getDiachi()}" required>
                </div>
                <div class="form-group">
                    <label for="">Hạn sử dụng:</label>
                    <input type="date" class="form-control" name="hansudung" th:value="${oldCard.getHansudung()}" required>
                </div>
                <div class="form-group">
                    <label for="">Trạng thái:</label>
                    <select name="matrangthai" class="custom-select">
                        <option selected th:value="${oldCard.getMatrangthai()}" th:text="${oldCard.getMatrangthai()}"></option>
                        <option value="open">open</option>
                        <option value="lock">lock</option>
                     </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Cập nhật</button>
                <a href="/quan-ly-the-thu-vien/tat-ca-the" type="button" class="btn btn-danger"><i class="fas fa-times"></i> Hủy</a>
            </div>
        </div>

    </form>
</div>