<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" sizes="30x30">
    <title th:text="${title}"></title>
    <base href="/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="animation.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <input type="hidden" th:value="${currentAccount}" id="currentAccount">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" id="navbardrop" href="#" data-toggle="dropdown" th:text="${currentAccount}"> </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-primary" href="/trang-chu"><i class="fas fa-user"></i><span th:text="' '+${fullname}"></span></a>
                <a class="dropdown-item text-danger" href="/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lam-the-thu-vien">Làm thẻ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/them-sach">Thêm sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/muon-sach">Mượn sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tra-sach">Trả sách</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                         Quản lý
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-primary" href="/quan-ly-phieu-muon/tat-ca-phieu"><i class="fas fa-file-invoice-dollar"></i> Quản lý phiếu mượn</a>
                        <a class="dropdown-item text-primary" href="/quan-ly-the-thu-vien/tat-ca-the"><i class="fas fa-address-card"></i> Quản lý thẻ thư viện</a>
                        <a class="dropdown-item text-primary" href="/quan-ly-sach/tat-ca-sach"><i class="fas fa-book"></i> Quản lý sách</a>
                        <a class="dropdown-item text-primary forAdmin" href="/quan-ly-nhan-vien/tat-ca-nhan-vien"><i class="fas fa-user-tie"></i> Quản lý nhân viên</a>
                        <a class="dropdown-item text-primary forAdmin" href="/quan-ly-tai-khoan/tat-ca-tai-khoan"><i class="fas fa-user"></i> Quản lý tài khoản</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 bg-light py-4 shadow" id="contentLeft">
                <div class="container">
                    <!-- <strong style="color: #007bff;"><i class="fas fa-angle-double-down"></i> Thao tác</strong>
                    <hr> -->
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link i" id="btnHome" href="/trang-chu"><i class="fas fa-home"></i> Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link i" id="btnYeuCauMuonSach" href="/muon-sach"><i class="fas fa-shopping-cart"></i> Yêu cầu mượn sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link i" id="btnYeuCauTraSach" href="/tra-sach"><i class="fas fa-shopping-cart"></i> Yêu cầu trả sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link i" id="btnQuanLyPhieuMuon" href="/quan-ly-phieu-muon/tat-ca-phieu"><i class="fas fa-file-invoice-dollar"></i> Quản lý phiếu mượn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link i" id="btnQuanLyTheTV" href="/quan-ly-the-thu-vien/tat-ca-the"><i class="fas fa-address-card"></i> Quản lý thẻ thư viện</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link i" id="btnQuanLySach" href="/quan-ly-sach/tat-ca-sach"><i class="fas fa-book"></i> Quản lý sách</a>
                        </li>
                        <li class="nav-item forAdmin">
                            <a class="nav-link i" id="btnQuanLyNhanVien" href="/quan-ly-nhan-vien/tat-ca-nhan-vien"><i class="fas fa-user-tie"></i> Quản lý nhân viên</a>
                        </li>
                        <li class="nav-item forAdmin">
                            <a class="nav-link i" id="btnQuanLyTaiKhoan" href="/quan-ly-tai-khoan/tat-ca-tai-khoan"><i class="fas fa-user"></i> Quản lý tài khoản</a>
                        </li>
                    </ul>
                    <hr class="d-sm-none">
                </div>
            </div>
            <!-- include -->
            <div class="col-sm-9">
                <div th:replace="${source} :: ${fragment}"></div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0 ">
        <div class="row ">
            <div class="col-sm-4 "></div>
            <div class="col-sm-4 ">
                <!-- <h5><i class="fas fa-users "></i> Thành viên nhóm:</h5> -->
                <!-- <hr> -->
                <span>v o n h u t t r u o n g</span><br>
                <span>d o q u a n g t r u n g</span><br>
                <span>n g u y e n h o a n g v i n h</span>
            </div>
            <div class="col-sm-4 "></div>
        </div>
    </div>


</body>
<script>
    // check current account
    if ($("#currentAccount").val() != "Admin") {
        // alert($("#currentAccount").val());
        $(".forAdmin").remove();
    }

    $(Document).ready(function() {
        // khởi động
        if ($(window).width() < 576) {
            $("#contentLeft").hide();
        } else {
            $("#contentLeft").show();
        }
        // thay đổi
        $(window).resize(function() {
            if ($(window).width() < 576) {
                $("#contentLeft").hide();
            } else {
                $("#contentLeft").show();
            }
        });

    });
</script>

</html>