<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Forget password </title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2> Lấy lại mật khẩu </h2>
            <br><br>
            <form action="/forget-password" method="post">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="Số điện thoại" required>
                <input type="password" id="username" class="fadeIn second" name="username" placeholder="mật khẩu mới" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="xác nhận mật khẩu mới" required>
                <input type="submit" class="fadeIn fourth pointer" value="Cập nhật mật khẩu">
            </form>
        </div>
    </div>

</body>

</html>