<div th:fragment="thong_ke" class="row">
    <div class="col-sm-12">
        <span style="color: #28a745;"><i class="fas fa-chart-bar"></i> Thống kê</span>
        <hr>
        <a href="/thong-ke/tat-ca-sach" class="btn btn-outline-primary" id="tatca">Tất cả sách</a>
        <a href="/thong-ke/dang-muon" class="btn btn-outline-success" id="dangmuon">Đang mượn</a>
        <a href="#" class="btn btn-outline-warning" id="quanhan">Quá hạn</a>
        <a href="#" class="btn btn-outline-danger" id="thebikhoa">Thẻ bị khóa</a>
        <!-- <button type="button" class="btn btn-outline-dark"></button> -->
        <hr>
        <div th:replace="thong-ke :: ${type}"></div>
    </div>
    <script>
        $(document).ready(function() {
            $("#thongKe").addClass("active");
        });
    </script>
</div>

<!-- Đang mượn -->
<div class="col-sm-6" th:fragment="dang-muon">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã phiếu mượn</th>
                    <th>Mã sách</th>
                    <th>Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${listSachMuon}">
                    <td th:text="*{book.getFk().getMaphieumuon()}"></td>
                    <td th:text="*{book.getFk().getMasach()}"></td>
                    <td th:text="*{book.getSoluong()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $("#dangmuon").addClass("active");
        });
    </script>
</div>

<!-- Tất cả sách -->
<div class="col-sm-12" th:fragment="tat-ca-sach">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Tên sách</th>
                    <th>Tên tác giả</th>
                    <th>Năm xuất bản</th>
                    <th>Mã NXB</th>
                    <th>Mã Thể loại</th>
                    <th>Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${listBook}">
                    <td th:text="*{book.getMasach()}"></td>
                    <td th:text="*{book.getTensach()}"></td>
                    <td th:text="*{book.getTacgia()}"></td>
                    <td th:text="*{book.getNamxuatban()}"></td>
                    <td th:text="*{book.getManhaxuatban()}"></td>
                    <td th:text="*{book.getMatheloai()}"></td>
                    <td th:text="*{book.getSoluong()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $("#tatca").addClass("active");
        });
    </script>
</div>