<!-- fragment chính -->
<div class="container my-4" th:fragment="tim-phieu-muon">
    <div class="row">
        <div class="col-sm-12">
            <strong style="color: #28a745;"><i class="fas fa-search"></i> Tìm phiếu mượn</strong>
            <br>
            <hr>
            <form action="/tim-phieu-muon" method="post">
                <div class="row">
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="number" name="maphieumuon" th:value="${maphieumuon}" id="" placeholder="mã phiếu mượn">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="text" name="mathe" id="" th:value="${mathe}" placeholder="mã đọc giả">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="date" name="ngaymuon" th:value="${ngaymuon}">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block text-center" type="submit">
                        <i class="fas fa-search"></i> Tìm
                    </button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>

            <div class="row jumbotron p-2">
                <span style="color: #28a745;"><i class="fas fa-search"></i><span th:text="'  ' + ${size} + ' kết quả (phiếu mượn)'"></span></span>

                <div class="col-sm-12 mt-2">
                    <div class="row pt-3">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover table-info">
                                <thead class="bg-light">
                                    <tr>
                                        <th>ID Bill</th>
                                        <th>ID đọc giả</th>
                                        <th>Ngày mượn</th>
                                        <th>Hạn trả</th>
                                        <th>Ngày trả</th>
                                        <th>Trạng thái</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="bill : ${listAllBill}">
                                        <td th:text="*{bill.getMaphieumuon()}"></td>
                                        <td th:text="*{bill.getMathe()}"></td>
                                        <td th:text="*{bill.getNgaymuon()}"></td>
                                        <td th:text="*{bill.getHantra()}"></td>
                                        <td th:text="*{bill.getNgaytra()}"></td>
                                        <td th:text="*{bill.getTrangthai()}"></td>
                                        <td class="text-center">
                                            <form action="/tra-sach" method="post">
                                                <input type="hidden" name="mathe" th:value="*{bill.getMathe()}">
                                                <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fas fa-cart-arrow-down"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>