<div class="container my-4" th:fragment="tim-sach">
    <div class="row">
        <div class="col-sm-12">
            <strong style="color: #28a745;"><i class="fas fa-search"></i> Tìm sách</strong>
            <br>
            <hr>
            <form action="/tim-sach" method="post">
                <div class="row">
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="number" name="masach" th:value="${masach}" id="" placeholder="mã sách">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="text" name="tensach" id="" th:value="${tensach}" placeholder="tên sách">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="text" name="tacgia" id="" th:value="${tacgia}" placeholder="tên tác giả">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block text-center" type="submit">
                        <i class="fas fa-search"></i> Tìm
                    </button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>

            <div class="row jumbotron p-2">
                <span style="color: #28a745;"><i class="fas fa-search"></i><span th:text="'  ' + ${size} + ' kết quả (sách)'"></span></span>

                <div class="col-sm-12 mt-2">
                    <div class="row pt-3">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover table-info">
                                <thead class="bg-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên sách</th>
                                        <th>Tác giả</th>
                                        <th>Thể loại</th>
                                        <!-- <th>Nhà XB</th>
                                        <th>Năm XB</th> -->
                                        <th>SL</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book : ${listBook}">
                                        <td th:text="*{book.getMasach()}"></td>
                                        <td th:text="*{book.getTensach()}"></td>
                                        <td th:text="*{book.getTacgia()}"></td>
                                        <td th:text="*{book.getMatheloai()}"></td>
                                        <!-- <td th:text="*{book.getManhaxuatban()}"></td>
                                        <td th:text="*{book.getNamxuatban()}"></td> -->
                                        <td th:text="*{book.getSoluong()}"></td>
                                        <td class="text-center">
                                            <a th:href="'/edit-book/' + ${book.getMasach()}" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i></a>
                                            <a th:href="'/delete-book/' + ${book.getMasach()}" onclick="return confirm('\n\n\nSau khi xóa, thông tin sách vẫn còn nhưng số lượng trở về 0.\nBạn có chắc xóa?\n');" type="button" class="btn btn-outline-primary btn-sm"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>