<div class="container my-4" th:fragment="tim-nhan-vien">
    <div class="row">
        <div class="col-sm-12">
            <strong style="color: #28a745;"><i class="fas fa-search"></i> Tìm nhân viên</strong>
            <br>
            <hr>
            <form action="/tim-nhan-vien" method="post">
                <div class="row">
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="number" name="manhanvien" th:value="${manhanvien}" placeholder="mã nhân viên">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="text" name="hoten" id="" th:value="${hoten}" placeholder="họ tên">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <input class="form-control" type="text" name="sodienthoai" id="" th:value="${sodienthoai}" placeholder="số điện thoại">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block text-center" type="submit">
                        <i class="fas fa-search"></i> Tìm
                    </button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>

            <div class="row jumbotron p-2">
                <span style="color: #28a745;"><i class="fas fa-search"></i><span th:text="'  ' + ${size} + ' kết quả (nhân viên)'"></span></span>

                <div class="col-sm-12 mt-2">
                    <div class="row pt-3">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover table-info">
                                <thead class="bg-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Họ tên</th>
                                        <th>GT</th>
                                        <th>Năm sinh</th>
                                        <th>SDT</th>
                                        <th>Địa chỉ</th>
                                        <th>Chức vụ</th>
                                        <th class="text-center">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="nv : ${listNhanVien}">
                                        <td th:text="*{nv.getManhanvien()}"></td>
                                        <td th:text="*{nv.getHoten()}"></td>
                                        <td th:text="*{nv.getGioitinh()}"></td>
                                        <td th:text="*{nv.getNamsinh()}"></td>
                                        <td th:text="*{nv.getSodienthoai()}"></td>
                                        <td th:text="*{nv.getDiachi()}"></td>
                                        <td th:text="*{nv.getTenChucVu()}"></td>
                                        <td class="text-center">
                                            <a th:href="'/edit-staff/' + ${nv.getManhanvien()}" type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-pencil-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>