<!-- todo: fragment chính -->
<div class="container my-4" th:fragment="kiem-tra-the">
    <div class="fadeInDown" id="titleManager">
        <strong style="color: #28a745;"><i class="fas fa-shopping-cart"></i> Yêu cầu trả sách</strong>
    </div>
    <hr>
    <form th:action="@{/tra-sach}" method="post">
        <div class="row jumbotron p-1 py-3">
            <div class="col-sm-12">
                <strong><i class="fas fa-address-card"></i> Thông tin đọc giả</strong>
                <hr>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Mã thẻ thư viện</label>
                    <input type="number" name="mathe" class="form-control" th:value="${mathe}" placeholder="nhập mã thẻ" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Số điện thoại</label>
                    <input type="text" name="sdt" class="form-control" th:value="${sdt}" placeholder="nhập số điện thoại" />
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fas fa-check-circle"></i> Check
                </button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>

    <script>
        $(document).ready(function() {
            $("#btnYeuCauTraSach").addClass("active");
        });
    </script>
</div>

<!--todo: Xử lý trả sách -->
<div class="container my-4" th:fragment="tra-sach">
    <strong style="color: #28a745;"><i class="fas fa-shopping-cart"></i> Yêu cầu trả sách</strong>
    <hr>
    <form th:action="@{/thanh-toan-sach-tra}" method="post">
        <div class="row jumbotron p-1 py-3">
            <div class="col-sm-12">
                <strong><i class="fas fa-address-card"></i> Thông tin đọc giả</strong>
                <br><br>
                <!-- <hr> -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Mã thẻ thư viện</label>
                    <input type="number" name="mathe" th:value="${mathe}" class="form-control bg-light border-info" readonly />
                </div>
                <div class="form-group">
                    <label for="">Họ tên đọc giả</label>
                    <input type="text" name="hoten" th:value="${hoten}" class="form-control bg-light border-info" readonly />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Số điện thoại</label>
                    <input type="text" name="sdt" th:value="${sdt}" class="form-control bg-light border-info" readonly />
                </div>
                <div class="form-group">
                    <label for="">Ngày trả</label>
                    <input type="date" name="ngaytra" class="form-control bg-light border-info" th:value="${toDay}" readonly required/>
                </div>
            </div>

            <div class="col-sm-12 mt-2">
                <hr>
                <strong><i class="fas fa-book"></i> Thông tin sách mượn - sách trả</strong>
                <br><br>
                <!-- <hr> -->
            </div>
            <div class="col-sm-8">
                <span>Danh sách mượn</span>
                <table class="table table-bordered table-hover table-info mt-2">
                    <thead class="bg-light">
                        <tr>
                            <th>ID Bill</th>
                            <th>ID Sách</th>
                            <th>Tên sách</th>
                            <th>SL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${listBookBorrow}">
                            <td th:text="*{book.getMaphieumuon()}"></td>
                            <td th:text="*{book.getMasach()}"></td>
                            <td th:text="*{book.getTensach()}"></td>
                            <td th:text="*{book.getSoluong()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <span>Phiếu trả sách</span>
                <select name="idBill" id="" class="custom-select mt-2">
                    <option value="allBill">Tất cả phiếu</option>
                    <option th:each="bill : ${listBill}" th:value="${bill.getMaphieumuon()}" th:text="${bill.getMaphieumuon()}"></option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success"><i class="fas fa-hand-point-right"></i> Nhận sách</button>
                <a href="/tra-sach" type="button" class="btn btn-danger"><i class="fas fa-times"></i> Hủy</a>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function() {
            $("#btnYeuCauTraSach").addClass("active");
        });
    </script>
</div>

<!--todo: check fail -->
<div th:fragment="check-fail">
    <div class="alert alert-danger alert-dismissible fadeInDown show my-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="fas fa-exclamation-triangle"></i> <span th:text="${titleAlert}"></span></strong>
        <hr>
        <span th:text="${alert}"></span>
    </div>
    <div th:replace="tra-sach :: kiem-tra-the"></div>
    <script>
        $(document).ready(function() {
            $("#titleManager").removeClass("fadeInDown");
        });
    </script>
</div>