# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Do-An-Java\DoAnQLTV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
